-# Determines how the header is showed to the user
%header
    -# A nav, so that the user can select which page he wants to view 
    %nav
        =link_to t('.home'), root_path
        %span= t('.delimiter')
        =link_to t(".athletes"), athletes_path
        %span= t('.delimiter')
        =link_to t(".competitions"), competitions_path
        %span= t('.delimiter')
        =link_to t(".signups"), athlete_competitions_path
        %span= t('.delimiter')
        =link_to t(".contact"), contact_path
        %span= t('.delimiter')
        =link_to t(".aboutUs"), aboutUs_path

    